# Dependencies
node_modules
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
*.tgz

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated
dist
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify
docs/.vitepress/cache
docs/.vitepress/dist

# Env
.env
.env.*

# Testing
reports
coverage
*.lcov
.nyc_output
html

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
AGENTS.md
*.iml
.idea

# OS
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
